Github-1,2..

In [1]:
import pandas as pd
import numpy as np

In [2]:
url ='https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

In [3]:
chipo=pd.read_csv(url,sep='\t')#delimiter='\t'

In [4]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [5]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [6]:
chipo.describe()

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

In [7]:
chipo.shape

(4622, 5)

In [8]:
chipo.shape[0]

4622

In [9]:
chipo.shape[1]

5

In [10]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [11]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [12]:
a = chipo.groupby('item_name')['quantity'].sum().sort_values(ascending=False)

In [13]:
a.head(1)

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

In [14]:
chipo.head(3)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39

In [15]:
a=chipo.groupby('choice_description')['quantity'].sum().sort_values(ascending=False)

In [16]:
a.head(5)

choice_description
[Diet Coke]                                                               159
[Coke]                                                                    143
[Sprite]                                                                   89
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]     49
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream]]              42
Name: quantity, dtype: int64

In [17]:
b=chipo['quantity'].sum()
b

4972

In [18]:
chipo['item_price']=chipo['item_price'].apply(lambda x:float(x[1:-1]))

In [19]:
chipo.item_price.dtype

dtype('float64')

In [20]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
6,3,1,Side of Chips,NaN,1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",9.25

In [21]:
revenue= (chipo['quantity'] * chipo['item_price']).sum()
print("revenue is $:",str(np.round(revenue,2)))

revenue is $: 39237.02

In [22]:
count=chipo['order_id'].value_counts().count()
count

1834

In [23]:
chipo['revenue']=chipo['quantity']*chipo['item_price']
average_revenue=chipo.groupby('order_id')['revenue'].sum().mean()
print((np.round(average_revenue,3)))

21.394

In [24]:
b=chipo['item_name'].value_counts().count()
b

50

In [25]:
chipo.head(4)

,order_id,quantity,item_name,choice_description,item_price,revenue
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39

In [26]:
chipo.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
revenue               float64
dtype: object

In [27]:
a=chipo.drop_duplicates(['quantity','item_name','choice_description'])
b=a[a['quantity']==1]
#a['price_per_item']=a['item_price']/a['quantity']
b

,order_id,quantity,item_name,choice_description,item_price,revenue
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98,10.98
...,...,...,...,...,...,...
4602,1827,1,Barbacoa Burrito,[Tomatillo Green Chili Salsa],9.25,9.25
4607,1829,1,Steak Burrito,"[Tomatillo Green Chili Salsa, [Rice, Cheese, S...",11.75,11.75
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25,11.25
4612,1831,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",9.25,9.25

In [28]:
high_price =b[b['item_price']>10.00]
high_price.head(50)

,order_id,quantity,item_name,choice_description,item_price,revenue
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98,10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75,11.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98,10.98
39,19,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.75,11.75
42,20,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",11.25,11.25
43,20,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Pinto Beans, Chees...",11.75,11.75
45,21,1,Chicken Burrito,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",10.98,10.98
52,24,1,Chicken Burrito,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",10.98,10.98
57,26,1,Veggie Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25,11.25
62,28,1,Veggie Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
79,35,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Cheese, Lett...",11.25,11.25
90,40,1,Steak Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",11.75,11.75
91,40,1,Steak Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Chees...",11.75,11.75
93,41,1,Carnitas Burrito,"[Roasted Chili Corn Salsa, [Sour Cream, Guacam...",11.75,11.75
97,43,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.75,11.75
123,54,1,Chicken Bowl,"[Fresh Tomato Salsa, [Guacamole, Cheese, Sour ...",11.25,11.25
130,57,1,Barbacoa Burrito,"[Roasted Chili Corn Salsa, [Rice, Pinto Beans,...",11.75,11.75
134,59,1,Chicken Burrito,"[Roasted Chili Corn Salsa (Medium), [Rice, Bla...",10.98,10.98
136,61,1,Barbacoa Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75,11.75
138,62,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Fajita Vegetables,...",11.25,11.25
140,63,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Sour Crea...",11.25,11.25
142,64,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
143,64,1,Veggie Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25,11.25
144,65,1,Barbacoa Burrito,"[Tomatillo Red Chili Salsa, [Rice, Sour Cream,...",11.75,11.75
147,66,1,Steak Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Rice, ...",11.48,11.48
157,71,1,Veggie Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25,11.25
158,71,1,Steak Burrito,"[Tomatillo Green Chili Salsa, [Rice, Cheese, G...",11.75,11.75
159,72,1,Chicken Burrito,"[[Roasted Chili Corn Salsa (Medium), Tomatillo...",10.98,10.98
161,73,1,Chicken Burrito,"[[Roasted Chili Corn Salsa (Medium), Tomatillo...",10.98,10.98
163,74,1,Carnitas Bowl,"[Roasted Chili Corn Salsa (Medium), [Pinto Bea...",11.48,11.48
167,75,1,Chicken Burrito,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",11.25,11.25
168,75,1,Barbacoa Crispy Tacos,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",11.75,11.75
176,79,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",10.98,10.98
177,80,1,Steak Burrito,"[Fresh Tomato Salsa (Mild), [Rice, Black Beans...",11.48,11.48
186,83,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
187,84,1,Steak Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Fajita Vegg...",11.48,11.48
192,86,1,Veggie Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.25,11.25
199,89,1,Chicken Bowl,"[[Roasted Chili Corn Salsa (Medium), Tomatillo...",10.98,10.98
202,90,1,Chicken Burrito,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",11.25,11.25
209,93,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.25,11.25
210,93,1,Veggie Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",11.25,11.25
211,93,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.25,11.25
215,95,1,Steak Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",11.75,11.75
225,99,1,Veggie Burrito,"[Tomatillo Red Chili Salsa, [Black Beans, Chee...",11.25,11.25
234,103,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",11.75,11.75
244,107,1,Chicken Burrito,"[Roasted Chili Corn Salsa (Medium), [Rice, Faj...",10.98,10.98
250,109,1,Chicken Salad,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",10.98,10.98
262,114,1,Steak Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Chees...",11.75,11.75
290,126,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.25,11.25

In [77]:
chipo['price_item']=chipo['item_price'] / chipo['quantity']
chipo[['item_name','price_item']].reset_index(drop=True) #to_numpy()

                                  item_name  price_item
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl        8.49
...                                     ...         ...
4617                          Steak Burrito       11.75
4618                          Steak Burrito       11.75
4619                     Chicken Salad Bowl       11.25
4620                     Chicken Salad Bowl        8.75
4621                     Chicken Salad Bowl        8.75

[4622 rows x 2 columns]

In [87]:
chipo.sort_values(by='item_name')

,order_id,quantity,item_name,choice_description,item_price,revenue,price_item
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98,25.96,6.49
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49,6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49,6.49,6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49,6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49,6.49,6.49
...,...,...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75,8.75,8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75,8.75,8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49,8.49,8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25,11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49,8.49,8.49

In [99]:
chipo.sort_values(by='item_price',ascending=False).head(1)#[['quantity','item_name']]

      quantity                     item_name
3598        15  Chips and Fresh Tomato Salsa

In [115]:
a=chipo[chipo['item_name']=='Veggie Salad Bowl']
a

,order_id,quantity,item_name,choice_description,item_price,revenue,price_item
186,83,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25,11.25
295,128,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",11.25,11.25,11.25
455,195,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25,11.25
496,207,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Rice, Lettuce, Guacamole...",11.25,11.25,11.25
960,394,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,8.75,8.75
1316,536,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",8.75,8.75,8.75
1884,760,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25,11.25
2156,869,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25,11.25,11.25
2223,896,1,Veggie Salad Bowl,"[Roasted Chili Corn Salsa, Fajita Vegetables]",8.75,8.75,8.75
2269,913,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",8.75,8.75,8.75
2683,1066,1,Veggie Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75,8.75,8.75
3223,1289,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25,11.25,11.25
3293,1321,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",8.75,8.75,8.75
4109,1646,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25,11.25,11.25
4201,1677,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Black...",11.25,11.25,11.25
4261,1700,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25,11.25
4541,1805,1,Veggie Salad Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",8.75,8.75,8.75
4573,1818,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,8.75,8.75

In [123]:
a=chipo[chipo['item_name']=='Veggie Salad Bowl']
a[['order_id',	'quantity',	'item_name','choice_description']]

,order_id,quantity,item_name,choice_description
186,83,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,..."
295,128,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu..."
455,195,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,..."
496,207,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Rice, Lettuce, Guacamole..."
960,394,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu..."
1316,536,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,..."
1884,760,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,..."
2156,869,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables..."
2223,896,1,Veggie Salad Bowl,"[Roasted Chili Corn Salsa, Fajita Vegetables]"
2269,913,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,..."
2683,1066,1,Veggie Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,..."
3223,1289,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables..."
3293,1321,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees..."
4109,1646,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables..."
4201,1677,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Black..."
4261,1700,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,..."
4541,1805,1,Veggie Salad Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl..."
4573,1818,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto..."

In [159]:
chipo[(chipo['item_name']=='Canned Soda') & (chipo['quantity']>1)].shape[0]
#or
#len(chipo[(chipo['item_name']=='Canned Soda') & (chipo['quantity']>1)])

20